* {
  font-family: sans-serif;
}

h1 {
  margin-bottom: 0;
}

.credits {
  margin-top: 0;
  font-size: 80%;
}

img {
  vertical-align: middle;
}

input {
  clear: both;
  text-align: center;
  border: solid 1px #aaa;
}

input.empty {
  background-color: #ddd;
}

input.wrong {
  border: solid 1px #a00;
  background-color: #faa;
}

table {
    border: solid 2px black;
    border-collapse: collapse;
}

td {
    padding: 5px;
}

tr td:nth-child(3n) {
    border-right: solid 2px black;
}

table tr:nth-child(3n) {
    border-bottom: solid 2px black;
}
