@main("vireo sudoku") {
  <h1><img  src="@routes.Assets.at("images/vireo.png")"
            alt="vireo huttoni"/> vireo sudoku</h1>
  <p class="credits">(image by <a
  href="http://www.flickr.com/photos/minette_layne/2893938782/">Minette
  Layne</a>, licensed <a
  href="https://creativecommons.org/licenses/by-nc/2.0/">cc-by-nc</a>)</p>
  
  <p>Werkt dit?</p>

  <div id="sudoku"></div>
  <script type="text/jsx">
  /** @@jsx React.DOM */

  var numbers       = [];
  var possibilities = [];
  for (var r = 0; r < 9; r++) {
    numbers[r]        = [];
    possibilities[r]  = [];
    for (var c = 0; c < 9; c++) {
      numbers[r][c] = 0;
      possibilities[r][c] = [1,2,3,4,5,6,7,8,9];
    }
  }

  var sum = function(xs) {
    return xs.reduce(function(accum, v) {
      return accum + v;
    });
  }

  var console_error = function(xhr, status, err) {
    console.error(this.props.url, status, err.toString());
  }

  var Table = React.createClass(
  { getInitialState: function() {
      return { tdata: numbers, possible: possibilities };
    }
  , cellChanged: function(r, c, val) {
      val = parseInt(val);
      if (val > 9) {
        // Take last digit when appending, so fiddling with backspace or
        // selecting is not necessary.
        val = val % 10;
      }
      if(!(val >= 0 && val <= 9)) {
        val = 0;
      }
      
      var tdata = this.state.tdata;
      tdata[r][c] = val;
      this.setState(this.state); // I think I'm cheating
      $.ajax({
        // http://stackoverflow.com/questions/12693947/jquery-ajax-how-to-send-json-instead-of-querystring
        url: this.props.url,
        type: 'POST',
        dataType: 'json',
        contentType: 'application/json',
        data: JSON.stringify({ table: tdata, row: r, column: c, value: val }),
        success: function(changes) {
          var possible = this.state.possible
          changes.forEach(function(change) {
            possible[change.row][change.column] = change.possible
          });
          this.setState(this.state); // cheating again
        }.bind(this),
        error: console_error.bind(this)
      });
    }
  , render: function() {
      var changed = this.cellChanged;
      var possible = this.state.possible;
      var rows = this.state.tdata.map(function(rdata, i) {
        return <Row cellChanged={changed} iRow={i} rdata={rdata}
        possible={possible[i]} />;
      });
      return (
        <table>
        {rows}
        </table>
      );
    }
  });

  var Row = React.createClass({
    render: function() {
      var iRow = this.props.iRow;
      var possible = this.props.possible;
      var cellChanged = this.props.cellChanged;
      var cells = this.props.rdata.map(function(cdata, i) {
        return <Cell cellChanged={cellChanged} iRow={iRow} iCol={i}
        cdata={cdata} possible={possible[i]} />;
      });
      return <tr>{cells}</tr>;
    }
  });

  var Cell = React.createClass({
    handleChange: function(event) {
      this.props.cellChanged
        ( this.props.iRow
        , this.props.iCol
        , event.target.value
        );
    }
  , render: function() {
      var value = this.props.cdata;
      if (value == 0) value = '';

      var nums      = this.props.possible;
      var numStr    = nums.join("");
      var numBitPat = sum(nums.map(function(i) { return Math.pow(2, i-1); }));
      var numImg    = "/assets/images/pat" + numBitPat + ".png";
      
      var classes = React.addons.classSet({
        'empty':  value == '',
        'wrong':  value != '' && nums.indexOf(value) == -1
      });

      return  <td><input type="text" size="1" value={value}
                className={classes}
                onChange={this.handleChange} />
              <img src={numImg} alt={numStr} /></td>;
              // partial application for handleChange would be nice
    }
  });

  React.renderComponent(
    <Table url="/sudoku/submit" />,
    document.getElementById('sudoku')
  );
  </script>
}
